/*  import google fonts */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700"); */
/* *{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */
.dash{
  background: #111111;
  color: white;
}
.Navbar{
  position: relative;
  top: 0;
  bottom: 0;
  height: 140vh;
  left: 0;
  background: #000000;
  width: 200px;
  overflow: hidden;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  color: #adadad;
  font-size: 14px;
  display: table;
  padding: 10px;
  transition: all 0.5s;
}
.logo{
  text-align: center;
  display: flex;
  margin: 10px 0 0 10px;
}

.nav-logo{
  padding-bottom: 0.2rem;
  padding-top: 1.5rem;
  color: white;

}
.active{
  color: white;
}
.logo img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.logo span{
  font-weight: bold;
  padding-left: 15px;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.Navbar a{
  position: relative;
  color: #adadad;
  font-size: 14px;
  display: table;
  width: 280px;
  padding: 10px;
  transition: all 0.5s;
}
nav .fas{
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}
.nav-item{
  position: relative;
  top: 12px;
  margin-left: 10px;
}
.Navbar a:hover{
  color: #ff581f;
}
.logout{
  position: absolute;
  bottom: 0;
}

/* Main Section */
.main{
  position: relative;
  padding: 20px;
  width: 90%;
}
.main-top{
  display: flex;
  width: 100%;
}
.main-top h1{
  background-color: rgb(32, 32, 32);
  color: white;
  padding: 5px 20px 5px 20px;
  border-radius: 20px;
  
}
.main-top span{
  color: rgba(255, 164, 8, 0.991);
}
.main-top i{
  position: absolute;
  right: 0;
  margin: 10px 30px;
  color: rgb(110, 109, 109);
  cursor: pointer;
}
.main-skills{
  display: flex;
  margin-top: 20px;
}
.main-skills .card{
  width: 25%;
  margin: 10px;
  background: #232220;
  color: white;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.main-skills .card h3{
  margin: 10px;
  text-transform: capitalize;
}
.main-skills .card p{
  font-size: 12px;
}
.main-skills .card button{
  background: white;
  color: black;
  padding: 7px 15px;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.3s;
}
.main-skills .card button:hover{
  background: rgba(223, 70, 15, 0.856);
  transform: scale(1.05);
}
.main-skills .card i{
  font-size: 22px;
  padding: 10px;
}

/* Courses */
.main-course{
  margin-top:20px ;
  text-transform: capitalize;
}
.course-box{
  width: 100%;
  height: 300px;
  padding: 10px 10px 30px 10px;
  margin-top: 10px;
  background: #232220;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.course-box ul{
  list-style: none;
  display: flex;
}
.course-box ul li{
  margin: 10px;
  color: #adadad;
  cursor: pointer;
}
.course-box ul .active{
  color: white;
  border-bottom: 1px solid #ffffff;
}
.course-box .course{
  display: flex;
}
.box{
  width: 33%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background: #131212;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.box p{
  font-size: 12px;
  margin-top: 5px;
}
.box button{
  background: #000;
  color: #fff;
  padding: 7px 10px;
  border-radius: 10px;
  margin-top: 3rem;
  cursor: pointer;
  transition: all 0.5s;
}
.box button:hover{
  background: rgba(0, 0, 0, 0.842);
  transform: scale(1.05);
}
.box i{
  font-size: 7rem;
  float: right;
  margin: -20px 20px 20px 0;
}
.html{
  color: rgb(25, 94, 54);
}
.css{
  color: rgb(104, 179, 35);
}
.js{
  color: rgb(28, 98, 179);
}

