/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.body-vishal{
  background: #232220;
  height: 100vh;
  color: white;
}

.a-vishal{
  position: relative;
  color: #ffffff;
  font-size: 14px;
  display: table;
  width: 280px;
  transition: all 0.5s;
}
.a-vishal:hover{
  color: #ff9b05;
  text-decoration: none;
}

.card-vishal{
  background-color: #484646;
  color: black;
  border: none;
}
.h6-vishal{
  display: flex;
  justify-content: center;
}
.navbar-brandv, .nav-linkv {
  color: #ffffff !important;
}

.task-containerv {
  margin-top: 20px;
}

.task-sectionv {
  background-color: black;
  margin-bottom: 30px;
  border: 2px dotted rgb(2, 9, 19);
  padding: 25px;
  border-radius: 10px;
  margin-left: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.task-cardv {
  margin-bottom: 20px;
}

.important-task {
  border-left: 10px solid #ae1308;
  padding-left: 10px;
}

.add-task-btn {
  background-color: #28a745;
  color: #ffffff;
}
.task-header{
background-color: #fd6a3a;
border: 2px ;
}
.button-spacing {
  margin-right: 10px;
}

.completed-task {
  background-color: rgba(224, 216, 210, 0.45);
}

.completed-text {
  text-decoration: line-through; 
}

.remove-button {
  display: none;
}