

/* ------------------ fade in animation ----------------- */

.overflow-hidden {
  overflow: hidden;
}

.drop-in {
  animation: drop-in 0.6s ease 100ms backwards;
}

.drop-in-2 {
  animation: drop-in 1200ms ease 500ms backwards;
}

@keyframes drop-in {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

.barBelowNavbar {
  /* background-color: #6495ed; */
  display: flex;
  justify-content: space-between;
  margin: 1rem 1rem;
}

/* ----------------------- fade in ---------------------- */

.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}



@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
/* ------------------------------------------------------ */

.dropdownCal {
  /* @apply bg-black */
  border: 2px solid red;
}
/* ------------------------------------------------------ */


